In [5]:
import findspark
findspark.init('/usr/local/spark')

In [6]:
import pyspark

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("check_point_2_") \
        .config("spark.sql.warehouse.dir", "hdfs://localhost:54310/user/hive/warehouse") \
        .enableHiveSupport() \
        .getOrCreate()

In [69]:
df = spark.read.csv("Checkpoint_1_merged.csv",header=True,inferSchema=True)

# Q-1

In [10]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
|    deloitte|
+------------+

In [ ]:
spark.sql("create database HR_data")

In [ ]:
spark.sql("show databases").show()

In [ ]:
spark.sql("use hr_data")

In [ ]:
spark.sql("show tables").show()

In [ ]:
df.write.format("parquet").saveAsTable("hr_details")

In [9]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

 # Q-2

In [ ]:
type(df)

In [ ]:
df.show()

In [ ]:
df.columns

In [ ]:
df.printSchema()

In [12]:
df.describe().show()

+-------+------------------+-----------------+------------+------------------------+------------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+------------------+-----------+------------------+------------------+------------------+-----------+--------------+---------+---------+----------+-----------------+----+
|summary|               Sno|    Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|     Notice_Period|Offered_Band|Percent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|        Rex_in_Yrs|Location_ID|       Postal_Code|               Age|            LOB_Id|Domicile_ID| Domicile_Name| Location|Region_ID|    Status|Date_of_Interview| LOB|
+-------+------------------+-----------------+------------+------------------------+------------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+------------------+-----------+------------------+------------------+------------------+-----------+--------------+---------+---------+----------+-----------------+----+
|  count|              8995|             8995|        8995|                    8995|              8995|        8982|                        8995|                       8995|                  8995|         8995|                     8995|  8995|             8995|              8995|       8995|              8995|              8980|              8995|       8995|          8995|     8982|     8982|      8995|             8995|8995|
|   mean| 5970.984324624792|2843647.377765425|        null|      21.434463590883823| 39.29182879377432|        null|           43.86480377987742|          40.65735630906044|   -1.5738021122846075|         null|                     null|  null|             null| 4.239021678710395|       null|  453494.479266259|29.912026726057906|3.1130628126737077|       null|          null|     null|     null|      null|             null|null|
| stddev|3373.9634540786838|486344.7745519215|        null|      25.811615717050906|22.220239481838103|        null|           29.78897499097193|          36.06405981089342|    19.610728841580432|         null|                     null|  null|             null|2.5475706093546893|       null|180254.66118054854|4.0956992472101605|2.1259019490845583|       null|          null|     null|     null|      null|             null|null|
|    min|                 1|          2109586|          No|                       0|                 0|          E0|                      -68.83|                     -60.53|                -67.27|           No|                       No|Female|           Agency|                 0|       L001|            122107|                20|                 1|         D1|Andhra Pradesh|Ahmedabad|       R1|    Joined|        1/10/2013|AXON|
|    max|             12333|          3836076|         Yes|                     224|               120|          E3|                      359.77|                     471.43|                 300.0|          Yes|                      Yes|  Male|Employee Referral|                24|       Null|            700027|                60|                 9|         D9|   West Bengal|     Pune|       R4|Not Joined|         9/9/2013| MMS|
+-------+------------------+-----------------+------------+------------------------+------------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+------------------+-----------+------------------+------------------+------------------+-----------+--------------+---------+---------+----------+-----------------+----+

# Q-3

In [70]:
from pyspark.sql.functions import col,isnan, when, count

In [71]:
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]
   ).show()

+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+-------------+--------+---------+------+-----------------+---+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|Offered_Band|Percent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender|Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_ID|Domicile_Name|Location|Region_ID|Status|Date_of_Interview|LOB|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+-------------+--------+---------+------+-----------------+---+
|  0|            0|           0|                       0|            0|          13|                           0|                          0|                     0|            0|                        0|     0|               0|         0|          0|          0| 15|     0|          0|            0|      13|       13|     0|                0|  0|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+----------------+----------+-----------+-----------+---+------+-----------+-------------+--------+---------+------+-----------------+---+

In [72]:
df_Columns=['Offered_Band','Age','Location','Region_ID']
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+------------+---+--------+---------+
|Offered_Band|Age|Location|Region_ID|
+------------+---+--------+---------+
|          13| 15|      13|       13|
+------------+---+--------+---------+

In [16]:
df.createOrReplaceTempView("mydata")

In [17]:
spark.sql("select * from mydata").show()

+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+----------------+---------+---------+----------+-----------------+----------+
|Sno|Candidate_Ref|DOJ_Extended|Duration_to_accept_offer|Notice_Period|Offered_Band|Percent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Joining_Bonus|Candidate_relocate_actual|Gender| Candidate_Source|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_ID|   Domicile_Name| Location|Region_ID|    Status|Date_of_Interview|       LOB|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+----------------+---------+---------+----------+-----------------+----------+
|  1|      2110407|         Yes|                      14|           30|          E2|                      -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       L001|     201301| 34|     1|         D6|             Goa|    Noida|       R1|    Joined|         1/8/2013|       ERS|
|  2|      2112635|          No|                      18|           30|          E2|                        50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|       L002|     600020| 34|     2|         D9|Himachal Pradesh|  Chennai|       R2|    Joined|        1/12/2013|     INFRA|
|  3|      2112838|          No|                       3|           45|          E2|                       42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|       L001|     201301| 27|     2|        D10|       Jharkhand|    Noida|       R1|    Joined|        1/25/2013|     INFRA|
|  4|      2115021|          No|                      26|           30|          E2|                       42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|       L001|     201301| 34|     2|         D3|      Chandigarh|    Noida|       R1|    Joined|        1/27/2013|     INFRA|
|  5|      2115125|         Yes|                       1|          120|          E2|                       42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|       L001|     201301| 34|     2|        D21|         Tripura|    Noida|       R1|    Joined|        1/28/2013|     INFRA|
|  6|      2117167|         Yes|                      17|           30|          E1|                       42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|       L001|     201301| 34|     2|        D24|     West Bengal|    Noida|       R1|    Joined|         2/3/2013|     INFRA|
|  7|      2119124|         Yes|                      37|           30|          E2|                       31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|       L001|     201301| 32|     2|        D23|      Uttarkhand|    Noida|       R1|    Joined|        2/11/2013|     INFRA|
|  9|      2127572|         Yes|                      16|            0|          E1|                       -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|       L001|     201301| 34|     3|         D6|             Goa|    Noida|       R1|    Joined|        2/16/2013|Healthcare|
| 11|      2138169|          No|                       1|           30|          E1|                      -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|       L003|     122107| 26|     4|         D5|           Delhi|  Gurgaon|       R1|    Joined|        2/16/2013|      BFSI|
| 12|      2143362|          No|                       6|           30|          E1|                       240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|       L002|     600020| 34|     5|        D23|      Uttarkhand|  Chennai|       R2|    Joined|         3/7/2013|      CSMP|
| 13|      2151180|          No|                     120|           30|          E2|                        5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|       L001|     201301| 34|     2|         D6|             Goa|    Noida|       R1|Not Joined|         4/3/2013|     INFRA|
| 14|      2154264|          No|                       3|            0|          E2|                       28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|       L002|     600020| 34|     2|         D3|      Chandigarh|  Chennai|       R2|    Joined|         4/8/2013|     INFRA|
| 15|      2156236|         Yes|                      14|           30|          E2|                        50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|       L001|     201301| 29|     2|        D13|  Madhya Pradesh|    Noida|       R1|Not Joined|        4/14/2013|     INFRA|
| 16|      2158703|          No|                      44|           75|          E2|                       45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|       L001|     201301| 34|     2|        D13|  Madhya Pradesh|    Noida|       R1|Not Joined|        4/14/2013|     INFRA|
| 17|      2161257|          No|                       7|           30|          E3|                       53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|       L001|     201301| 34|     2|         D9|Himachal Pradesh|    Noida|       R1|Not Joined|        4/25/2013|     INFRA|
| 18|      2162487|          No|                       1|           30|          E3|                      -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|       L004|     560034| 34|     6|        D13|  Madhya Pradesh|Bangalore|       R2|    Joined|        4/26/2013|       ETS|
| 19|      2166041|         Yes|                      98|           30|          E2|                        50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|       L001|     201301| 36|     2|         D4|    Chhattisgarh|    Noida|       R1|Not Joined|         5/6/2013|     INFRA|
| 20|      2172982|          No|                       1|            0|          E2|                        30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|       L001|     201301| 34|     2|        D13|  Madhya Pradesh|    Noida|       R1|    Joined|        5/12/2013|     INFRA|
| 21|      2173730|          No|                       1|           30|          E1|                      -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|       L003|     122107| 34|     2|         D7|         Gujarat|  Gurgaon|       R1|    Joined|        5/14/2013|     INFRA|
| 22|      2175237|          No|                       7|           30|          E1|                      221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       L001|     201301| 34|     1|        D21|         Tripura|    Noida|       R1|    Joined|        5/23/2013|       ERS|
+---+-------------+------------+------------------------+-------------+------------+----------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+-----------+-----------+---+------+-----------+----------------+---------+---------+----------+-----------------+----------+
only showing top 20 rows

In [73]:
from pyspark.sql.functions import mean,round

In [ ]:
[df.groupby(i).count().orderBy("count", ascending=False).first()[0] for i in df.columns].show()

AGE

In [74]:
df.select('Age').show()

+---+
|Age|
+---+
| 34|
| 34|
| 27|
| 34|
| 34|
| 34|
| 32|
| 34|
| 26|
| 34|
| 34|
| 34|
| 29|
| 34|
| 34|
| 34|
| 36|
| 34|
| 34|
| 34|
+---+
only showing top 20 rows

In [75]:
df_Columns=["Age"]
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+---+
|Age|
+---+
| 15|
+---+

In [76]:
mean_age= df.select(round(mean(df['Age']))).collect()

In [24]:
mean_age

[Row(round(avg(Age), 0)=30.0)]

In [77]:
df=df.na.fill(mean_age[0][0], subset=['Age'])

In [78]:
df_Columns=["Age"]
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+---+
|Age|
+---+
|  0|
+---+

OFFER BAND

In [79]:
df_Columns=["Offered_Band"]
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+------------+
|Offered_Band|
+------------+
|          13|
+------------+

In [80]:
mode_offered_band=df.groupby("Offered_Band").count().orderBy("count", ascending=False).first()[0]

In [81]:
df=df.na.fill(mode_offered_band[0][0], subset=['Offered_Band'])

In [82]:
df_Columns=["Offered_Band"]
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+------------+
|Offered_Band|
+------------+
|           0|
+------------+

LOCATION

In [83]:
df_Columns=["Location"]
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+--------+
|Location|
+--------+
|      13|
+--------+

In [84]:
mode_location=df.groupby("Location").count().orderBy("count", ascending=False).first()[0]
df=df.na.fill(mode_location[0][0], subset=['Location'])

In [85]:
df_Columns=["Location"]
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+--------+
|Location|
+--------+
|       0|
+--------+

In [34]:
REGION ID

SyntaxError: invalid syntax (<ipython-input-34-089145182910>, line 1)

In [86]:
df_Columns=["Region_ID"]
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+---------+
|Region_ID|
+---------+
|       13|
+---------+

In [87]:
mode_region=df.groupby("Region_ID").count().orderBy("count", ascending=False).first()[0]
df=df.na.fill(mode_location[0][0], subset=['Region_ID'])

In [88]:
df_Columns=["Region_ID"]
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+---------+
|Region_ID|
+---------+
|        0|
+---------+

AFTER DATA CLEANING

In [89]:
df_Columns=['Offered_Band','Age','Location','Region_ID']
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_Columns]
   ).show()

+------------+---+--------+---------+
|Offered_Band|Age|Location|Region_ID|
+------------+---+--------+---------+
|           0|  0|       0|        0|
+------------+---+--------+---------+

# Q-4

In [90]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

In [91]:
from pyspark.ml import Pipeline

In [92]:
df.columns

['Sno',
 'Candidate_Ref',
 'DOJ_Extended',
 'Duration_to_accept_offer',
 'Notice_Period',
 'Offered_Band',
 'Percent_hike_expected_in_CTC',
 'Percent_hike_offered_in_CTC',
 'Percent_difference_CTC',
 'Joining_Bonus',
 'Candidate_relocate_actual',
 'Gender',
 'Candidate_Source',
 'Rex_in_Yrs',
 'Location_ID',
 'Postal_Code',
 'Age',
 'LOB_Id',
 'Domicile_ID',
 'Domicile_Name',
 'Location',
 'Region_ID',
 'Status',
 'Date_of_Interview',
 'LOB']

Convert the platform columns to numerical

In [93]:
import pandas as pd

In [94]:
df=df.toPandas()

In [95]:
categoricalColumns = ['DOJ_Extended','Joining_Bonus','Candidate_relocate_actual','Gender','Candidate_Source','LOB']

In [101]:
dummies=pd.get_dummies(df[['DOJ_Extended','Joining_Bonus','Candidate_relocate_actual','Gender','Candidate_Source','LOB','Offered_Band']])

In [102]:
dummies

,DOJ_Extended_No,DOJ_Extended_Yes,Joining_Bonus_No,Joining_Bonus_Yes,Candidate_relocate_actual_No,Candidate_relocate_actual_Yes,Gender_Female,Gender_Male,Candidate_Source_Agency,Candidate_Source_Direct,...,LOB_ERS,LOB_ETS,LOB_Healthcare,LOB_INFRA,LOB_MMS,Offered_Band_E,Offered_Band_E0,Offered_Band_E1,Offered_Band_E2,Offered_Band_E3
0,0,1,1,0,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,1,0
1,1,0,1,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,1,0,1,0,1,0,0,1,1,0,...,0,0,0,1,0,0,0,0,1,0
3,1,0,1,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,1,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
5,0,1,1,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
6,0,1,1,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
7,0,1,1,0,1,0,1,0,0,1,...,0,0,1,0,0,0,0,1,0,0
8,1,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9,1,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
10,1,0,1,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
11,1,0,1,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
12,0,1,1,0,1,0,0,1,1,0,...,0,0,0,1,0,0,0,0,1,0
13,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,1,0
14,1,0,1,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
15,1,0,1,0,1,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,1
16,0,1,1,0,1,0,0,1,1,0,...,0,0,0,1,0,0,0,0,1,0
17,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,1,0
18,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
19,1,0,1,0,1,0,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
20,1,0,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
21,1,0,1,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
22,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,1,0
23,0,1,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
24,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,1
25,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
26,0,1,1,0,1,0,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
27,0,1,1,0,1,0,0,1,0,1,...,0,0,0,1,0,1,0,0,0,0
28,0,1,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
29,1,0,1,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8965,1,0,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8966,0,1,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
8967,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
8968,1,0,1,0,1,0,0,1,1,0,...,1,0,0,0,0,0,0,1,0,0
8969,0,1,1,0,1,0,0,1,0,1,...,0,1,0,0,0,0,0,1,0,0
8970,1,0,1,0,0,1,0,1,0,1,...,0,0,0,1,0,0,0,0,1,0
8971,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
8972,1,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8973,1,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8974,1,0,1,0,1,0,0,1,0,1,...,0,1,0,0,0,0,0,1,0,0
8975,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,1,0
8976,1,0,1,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
8977,0,1,1,0,1,0,1,0,0,1,...,0,1,0,0,0,0,0,1,0,0
8978,1,0,1,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,1,0,0
8979,0,1,1,0,1,0,0,1,1,0,...,0,0,0,1,0,0,0,1,0,0
8980,1,0,1,0,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,1,0
8981,1,0,0,1,1,0,0,1,1,0,...,1,0,0,0,0,0,0,1,0,0
8982,0,1,1,0,1,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
8983,1,0,1,0,1,0,1,0,0,1,...,0,0,0,1,0,0,0,0,1,0
8984,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
8985,1,0,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
8986,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
8987,1,0,1,0,1,0,0,1,1,0,...,1,0,0,0,0,0,0,1,0,0
8988,1,0,1,0,1,0,0,1,1,0,...,1,0,0,0,0,0,0,1,0,0
8989,1,0,1,0,1,0,1,0,1,0,...,0,0,0,1,0,0,0,1,0,0
8990,1,0,1,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
8991,0,1,1,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
8992,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,0,1,0
8993,1,0,1,0,1,0,0,1,0,1,...,0,0,0,1,0,0,0,1,0,0
8994,1,0,1,0,1,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [121]:
df1=df.copy()

In [122]:
df1.drop(['DOJ_Extended','Joining_Bonus','Candidate_relocate_actual','Gender','Candidate_Source','LOB','Offered_Band'], axis=1, inplace= True)

In [123]:
df1

,Sno,Candidate_Ref,Duration_to_accept_offer,Notice_Period,Percent_hike_expected_in_CTC,Percent_hike_offered_in_CTC,Percent_difference_CTC,Rex_in_Yrs,Location_ID,Postal_Code,Age,LOB_Id,Domicile_ID,Domicile_Name,Location,Region_ID,Status,Date_of_Interview
0,1,2110407,14,30,-20.79,13.16,42.86,7,L001,201301,34,1,D6,Goa,Noida,R1,Joined,1/8/2013
1,2,2112635,18,30,50.00,320.00,180.00,8,L002,600020,34,2,D9,Himachal Pradesh,Chennai,R2,Joined,1/12/2013
2,3,2112838,3,45,42.84,42.84,0.00,4,L001,201301,27,2,D10,Jharkhand,Noida,R1,Joined,1/25/2013
3,4,2115021,26,30,42.84,42.84,0.00,4,L001,201301,34,2,D3,Chandigarh,Noida,R1,Joined,1/27/2013
4,5,2115125,1,120,42.59,42.59,0.00,6,L001,201301,34,2,D21,Tripura,Noida,R1,Joined,1/28/2013
5,6,2117167,17,30,42.83,42.83,0.00,2,L001,201301,34,2,D24,West Bengal,Noida,R1,Joined,2/3/2013
6,7,2119124,37,30,31.58,31.58,0.00,7,L001,201301,32,2,D23,Uttarkhand,Noida,R1,Joined,2/11/2013
7,9,2127572,16,0,-20.00,-20.00,0.00,8,L001,201301,34,3,D6,Goa,Noida,R1,Joined,2/16/2013
8,11,2138169,1,30,-22.22,-22.22,0.00,3,L003,122107,26,4,D5,Delhi,Gurgaon,R1,Joined,2/16/2013
9,12,2143362,6,30,240.00,220.00,-5.88,3,L002,600020,34,5,D23,Uttarkhand,Chennai,R2,Joined,3/7/2013
10,13,2151180,120,30,5.26,-60.53,-62.50,3,L001,201301,34,2,D6,Goa,Noida,R1,Not Joined,4/3/2013
11,14,2154264,3,0,28.21,37.18,7.00,7,L002,600020,34,2,D3,Chandigarh,Chennai,R2,Joined,4/8/2013
12,15,2156236,14,30,50.00,287.50,158.33,7,L001,201301,29,2,D13,Madhya Pradesh,Noida,R1,Not Joined,4/14/2013
13,16,2158703,44,75,45.45,60.00,10.00,8,L001,201301,34,2,D13,Madhya Pradesh,Noida,R1,Not Joined,4/14/2013
14,17,2161257,7,30,53.85,50.00,-2.50,5,L001,201301,34,2,D9,Himachal Pradesh,Noida,R1,Not Joined,4/25/2013
15,18,2162487,1,30,-27.31,-27.31,0.00,18,L004,560034,34,6,D13,Madhya Pradesh,Bangalore,R2,Joined,4/26/2013
16,19,2166041,98,30,50.00,165.36,76.91,8,L001,201301,36,2,D4,Chhattisgarh,Noida,R1,Not Joined,5/6/2013
17,20,2172982,1,0,30.00,30.00,0.00,6,L001,201301,34,2,D13,Madhya Pradesh,Noida,R1,Joined,5/12/2013
18,21,2173730,1,30,-13.42,42.86,65.00,1,L003,122107,34,2,D7,Gujarat,Gurgaon,R1,Joined,5/14/2013
19,22,2175237,7,30,221.43,164.29,-17.78,2,L001,201301,34,1,D21,Tripura,Noida,R1,Joined,5/23/2013
20,23,2175323,1,0,42.78,42.78,0.00,8,L002,600020,29,2,D6,Goa,Chennai,R2,Joined,5/29/2013
21,24,2184108,0,30,37.50,37.50,0.00,3,L002,600020,30,1,D19,Tamil Nadu,Chennai,R2,Joined,5/31/2013
22,25,2188014,1,0,42.86,42.86,0.00,5,L001,201301,30,2,D11,Karnataka,Noida,R1,Joined,6/4/2013
23,26,2191237,83,60,25.00,25.00,0.00,5,L001,201301,30,7,D24,West Bengal,Noida,R1,Joined,6/12/2013
24,27,2194323,1,0,114.82,42.86,-33.50,6,L001,201301,31,2,D16,Odisha,Noida,R1,Joined,6/23/2013
25,28,2205244,16,60,41.18,0.00,-29.17,7,L001,201301,31,7,D5,Delhi,Noida,R1,Not Joined,7/4/2013
26,29,2205496,32,120,50.97,57.00,4.00,13,L002,600020,40,1,D9,Himachal Pradesh,Chennai,R2,Joined,7/6/2013
27,30,2207823,19,30,42.85,42.85,0.00,7,L001,201301,28,2,D13,Madhya Pradesh,Noida,R1,Joined,7/17/2013
28,31,2211699,0,0,23.08,15.38,-6.25,6,L002,600020,34,4,D5,Delhi,Chennai,R2,Not Joined,7/21/2013
29,32,2214217,4,30,-2.17,-2.17,0.00,5,L002,600020,33,1,D24,West Bengal,Chennai,R2,Joined,7/25/2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8965,12232,3781517,7,0,28.57,57.14,22.22,8,L001,201301,34,8,D5,Delhi,Noida,R1,Joined,8/12/2013
8966,12236,3785141,7,0,80.00,80.00,0.00,1,L002,600020,34,7,D12,Kerala,Chennai,R2,Joined,8/13/2013
8967,12239,3785313,1,0,0.00,-10.00,-10.00,1,L004,560034,34,2,D9,Himachal Pradesh,Bangalore,R2,Joined,8/13/2013
8968,12241,3785527,0,0,0.00,0.00,0.00,6,L002,600020,34,1,D4,Chhattisgarh,Chennai,R2,Joined,8/14/2013
8969,12243,3785691,12,30,40.00,10.00,-21.43,6,L005,500004,34,6,D9,Himachal Pradesh,Hyderabad,R2,Joined,8/14/2013
8970,12244,3786087,2,0,10.29,10.29,0.00,2,L002,600020,34,2,D8,Haryana,Chennai,R2,Joined,8/15/2013
8971,12245,3786517,4,30,75.00,71.46,-2.02,5,L001,201301,34,2,D9,Himachal Pradesh,Noida,R1,Joined,8/15/2013
8972,12246,3786639,2,0,42.86,42.86,0.00,0,L009,400001,34,4,D21,Tripura,Mumbai,R4,Joined,8/15/2013
8973,12247,3791441,1,0,48.81,48.81,0.00,1,L004,560034,34,7,D15,Manipur,Bangalore,R2,Joined,8/15/2013
8974,12251,3796690,10,30,53.85,53.85,0.00,3,L001,201301,34,6,D17,Punjab,Noida,R1,Joined,8/15/2013
8975,12253,3796931,1,30,35.20,35.20,0.00,3,L001,201301,34,2,D22,Uttar Pradesh,Noida,R1,Joined,8/16/2013
8976,12254,3796981,2,0,38.89,38.89,0.00,8,L002,600020,34,2,D20,Telangana,Chennai,R2,Joined,8/16/2013
8977,12266,3797489,2,0,21.43,-14.29,-29.41,4,L004,560034,34,6,D23,Uttarkhand,Bangalore,R2,Joined,8/16/2013
8978,12271,3798484,4,0,10.00,10.00,0.00,3,L002,600020,34,2,D16,Odisha,Chennai,R2,Not Joined,8/16/2013
8979,12280,3802744,2,0,15.38,15.38,0.00,1,L002,600020,34,2,D23,Uttarkhand,Chennai,R2,Joined,8/17/2013
8980,12285,3807061,6,0,45.52,45.52,0.00,7,L002,600020,34,1,D3,Chandigarh,Chennai,R2,Joined,8/17/2013
8981,12286,3807072,0,0,6.15,6.15,0.00,4,L002,600020,34,1,D6,Goa,Chennai,R2,Joined,8/17/2013
8982,12289,3807143,0,0,87.50,118.75,16.67,2,L002,600020,34,1,D5,Delhi,Chennai,R2,Joined,8/17/2013
8983,12290,3807302,7,60,0.00,0.00,0.00,3,L002,600020,34,2,D7,Gujarat,Chennai,R2,Joined,8/17/2013
8984,12291,3808142,1,30,71.43,42.86,-16.67,2,L001,201301,34,2,D5,Delhi,Noida,R1,Joined,8/18/2013
8985,12294,3815009,5,0,9.68,9.68,0.00,5,L002,600020,34,2,D11,Karnataka,Chennai,R2,Joined,8/18/2013
8986,12295,3815263,2,0,25.00,25.00,0.00,1,L002,600020,34,2,D3,Chandigarh,Chennai,R2,Joined,8/18/2013
8987,12304,3821185,2,0,49.07,42.59,-4.35,5,L001,201301,34,1,D15,Manipur,Noida,R1,Joined,8/18/2013
8988,12305,3821706,1,30,96.85,75.20,-11.00,4,L008,411002,34,1,D15,Manipur,Pune,R4,Joined,8/18/2013
8989,12309,3822084,0,30,50.00,50.00,0.00,4,L002,600020,34,2,D20,Telangana,Chennai,R2,Not Joined,8/19/2013
8990,12319,3822427,4,0,191.67,191.67,0.00,1,L002,600020,34,1,D21,Tripura,Chennai,R2,Joined,8/19/2013
8991,12327,3828206,2,0,150.00,150.00,0.00,3,L002,600020,34,4,D9,Himachal Pradesh,Chennai,R2,Joined,8/20/2013
8992,12331,3834159,0,0,35.42,35.42,0.00,5,L001,201301,34,2,D18,Rajasthan,Noida,R1,Joined,8/20/2013
8993,12332,3835433,0,30,76.92,53.85,-13.04,4,L001,201301,34,2,D2,Bihar,Noida,R1,Joined,8/20/2013
8994,12333,3836076,2,0,45.25,14.09,-21.45,1,L002,600020,34,2,D3,Chandigarh,Chennai,R2,Joined,8/21/2013

In [124]:
df1= pd.concat([df1, dummies], axis=1)
df1

,Sno,Candidate_Ref,Duration_to_accept_offer,Notice_Period,Percent_hike_expected_in_CTC,Percent_hike_offered_in_CTC,Percent_difference_CTC,Rex_in_Yrs,Location_ID,Postal_Code,...,LOB_ERS,LOB_ETS,LOB_Healthcare,LOB_INFRA,LOB_MMS,Offered_Band_E,Offered_Band_E0,Offered_Band_E1,Offered_Band_E2,Offered_Band_E3
0,1,2110407,14,30,-20.79,13.16,42.86,7,L001,201301,...,1,0,0,0,0,0,0,0,1,0
1,2,2112635,18,30,50.00,320.00,180.00,8,L002,600020,...,0,0,0,1,0,0,0,0,1,0
2,3,2112838,3,45,42.84,42.84,0.00,4,L001,201301,...,0,0,0,1,0,0,0,0,1,0
3,4,2115021,26,30,42.84,42.84,0.00,4,L001,201301,...,0,0,0,1,0,0,0,0,1,0
4,5,2115125,1,120,42.59,42.59,0.00,6,L001,201301,...,0,0,0,1,0,0,0,0,1,0
5,6,2117167,17,30,42.83,42.83,0.00,2,L001,201301,...,0,0,0,1,0,0,0,1,0,0
6,7,2119124,37,30,31.58,31.58,0.00,7,L001,201301,...,0,0,0,1,0,0,0,0,1,0
7,9,2127572,16,0,-20.00,-20.00,0.00,8,L001,201301,...,0,0,1,0,0,0,0,1,0,0
8,11,2138169,1,30,-22.22,-22.22,0.00,3,L003,122107,...,0,0,0,0,0,0,0,1,0,0
9,12,2143362,6,30,240.00,220.00,-5.88,3,L002,600020,...,0,0,0,0,0,0,0,1,0,0
10,13,2151180,120,30,5.26,-60.53,-62.50,3,L001,201301,...,0,0,0,1,0,0,0,0,1,0
11,14,2154264,3,0,28.21,37.18,7.00,7,L002,600020,...,0,0,0,1,0,0,0,0,1,0
12,15,2156236,14,30,50.00,287.50,158.33,7,L001,201301,...,0,0,0,1,0,0,0,0,1,0
13,16,2158703,44,75,45.45,60.00,10.00,8,L001,201301,...,0,0,0,1,0,0,0,0,1,0
14,17,2161257,7,30,53.85,50.00,-2.50,5,L001,201301,...,0,0,0,1,0,0,0,0,0,1
15,18,2162487,1,30,-27.31,-27.31,0.00,18,L004,560034,...,0,1,0,0,0,0,0,0,0,1
16,19,2166041,98,30,50.00,165.36,76.91,8,L001,201301,...,0,0,0,1,0,0,0,0,1,0
17,20,2172982,1,0,30.00,30.00,0.00,6,L001,201301,...,0,0,0,1,0,0,0,0,1,0
18,21,2173730,1,30,-13.42,42.86,65.00,1,L003,122107,...,0,0,0,1,0,0,0,1,0,0
19,22,2175237,7,30,221.43,164.29,-17.78,2,L001,201301,...,1,0,0,0,0,0,0,1,0,0
20,23,2175323,1,0,42.78,42.78,0.00,8,L002,600020,...,0,0,0,1,0,0,0,0,0,1
21,24,2184108,0,30,37.50,37.50,0.00,3,L002,600020,...,1,0,0,0,0,0,0,1,0,0
22,25,2188014,1,0,42.86,42.86,0.00,5,L001,201301,...,0,0,0,1,0,0,0,0,1,0
23,26,2191237,83,60,25.00,25.00,0.00,5,L001,201301,...,0,0,0,0,0,0,0,0,1,0
24,27,2194323,1,0,114.82,42.86,-33.50,6,L001,201301,...,0,0,0,1,0,0,0,0,0,1
25,28,2205244,16,60,41.18,0.00,-29.17,7,L001,201301,...,0,0,0,0,0,0,0,1,0,0
26,29,2205496,32,120,50.97,57.00,4.00,13,L002,600020,...,1,0,0,0,0,0,0,0,0,1
27,30,2207823,19,30,42.85,42.85,0.00,7,L001,201301,...,0,0,0,1,0,1,0,0,0,0
28,31,2211699,0,0,23.08,15.38,-6.25,6,L002,600020,...,0,0,0,0,0,0,0,0,1,0
29,32,2214217,4,30,-2.17,-2.17,0.00,5,L002,600020,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8965,12232,3781517,7,0,28.57,57.14,22.22,8,L001,201301,...,0,0,0,0,0,0,0,0,1,0
8966,12236,3785141,7,0,80.00,80.00,0.00,1,L002,600020,...,0,0,0,0,0,0,1,0,0,0
8967,12239,3785313,1,0,0.00,-10.00,-10.00,1,L004,560034,...,0,0,0,1,0,0,0,1,0,0
8968,12241,3785527,0,0,0.00,0.00,0.00,6,L002,600020,...,1,0,0,0,0,0,0,1,0,0
8969,12243,3785691,12,30,40.00,10.00,-21.43,6,L005,500004,...,0,1,0,0,0,0,0,1,0,0
8970,12244,3786087,2,0,10.29,10.29,0.00,2,L002,600020,...,0,0,0,1,0,0,0,0,1,0
8971,12245,3786517,4,30,75.00,71.46,-2.02,5,L001,201301,...,0,0,0,1,0,0,0,1,0,0
8972,12246,3786639,2,0,42.86,42.86,0.00,0,L009,400001,...,0,0,0,0,0,0,0,1,0,0
8973,12247,3791441,1,0,48.81,48.81,0.00,1,L004,560034,...,0,0,0,0,0,0,0,1,0,0
8974,12251,3796690,10,30,53.85,53.85,0.00,3,L001,201301,...,0,1,0,0,0,0,0,1,0,0
8975,12253,3796931,1,30,35.20,35.20,0.00,3,L001,201301,...,0,0,0,1,0,0,0,0,1,0
8976,12254,3796981,2,0,38.89,38.89,0.00,8,L002,600020,...,0,0,0,1,0,0,0,0,0,1
8977,12266,3797489,2,0,21.43,-14.29,-29.41,4,L004,560034,...,0,1,0,0,0,0,0,1,0,0
8978,12271,3798484,4,0,10.00,10.00,0.00,3,L002,600020,...,0,0,0,1,0,0,0,1,0,0
8979,12280,3802744,2,0,15.38,15.38,0.00,1,L002,600020,...,0,0,0,1,0,0,0,1,0,0
8980,12285,3807061,6,0,45.52,45.52,0.00,7,L002,600020,...,1,0,0,0,0,0,0,0,1,0
8981,12286,3807072,0,0,6.15,6.15,0.00,4,L002,600020,...,1,0,0,0,0,0,0,1,0,0
8982,12289,3807143,0,0,87.50,118.75,16.67,2,L002,600020,...,1,0,0,0,0,0,0,1,0,0
8983,12290,3807302,7,60,0.00,0.00,0.00,3,L002,600020,...,0,0,0,1,0,0,0,0,1,0
8984,12291,3808142,1,30,71.43,42.86,-16.67,2,L001,201301,...,0,0,0,1,0,0,0,1,0,0
8985,12294,3815009,5,0,9.68,9.68,0.00,5,L002,600020,...,0,0,0,1,0,0,0,0,0,1
8986,12295,3815263,2,0,25.00,25.00,0.00,1,L002,600020,...,0,0,0,1,0,0,0,1,0,0
8987,12304,3821185,2,0,49.07,42.59,-4.35,5,L001,201301,...,1,0,0,0,0,0,0,1,0,0
8988,12305,3821706,1,30,96.85,75.20,-11.00,4,L008,411002,...,1,0,0,0,0,0,0,1,0,0
8989,12309,3822084,0,30,50.00,50.00,0.00,4,L002,600020,...,0,0,0,1,0,0,0,1,0,0
8990,12319,3822427,4,0,191.67,191.67,0.00,1,L002,600020,...,1,0,0,0,0,0,0,1,0,0
8991,12327,3828206,2,0,150.00,150.00,0.00,3,L002,600020,...,0,0,0,0,0,0,0,1,0,0
8992,12331,3834159,0,0,35.42,35.42,0.00,5,L001,201301,...,0,0,0,1,0,0,0,0,1,0
8993,12332,3835433,0,30,76.92,53.85,-13.04,4,L001,201301,...,0,0,0,1,0,0,0,1,0,0
8994,12333,3836076,2,0,45.25,14.09,-21.45,1,L002,600020,...,0,0,0,1,0,0,0,1,0,0

In [ ]:
#Dsiplay the categorial column and numerical column

In [125]:
df1.columns

Index(['Sno', 'Candidate_Ref', 'Duration_to_accept_offer', 'Notice_Period',
       'Percent_hike_expected_in_CTC', 'Percent_hike_offered_in_CTC',
       'Percent_difference_CTC', 'Rex_in_Yrs', 'Location_ID', 'Postal_Code',
       'Age', 'LOB_Id', 'Domicile_ID', 'Domicile_Name', 'Location',
       'Region_ID', 'Status', 'Date_of_Interview', 'DOJ_Extended_No',
       'DOJ_Extended_Yes', 'Joining_Bonus_No', 'Joining_Bonus_Yes',
       'Candidate_relocate_actual_No', 'Candidate_relocate_actual_Yes',
       'Gender_Female', 'Gender_Male', 'Candidate_Source_Agency',
       'Candidate_Source_Direct', 'Candidate_Source_Employee Referral',
       'LOB_AXON', 'LOB_BFSI', 'LOB_CSMP', 'LOB_EAS', 'LOB_ERS', 'LOB_ETS',
       'LOB_Healthcare', 'LOB_INFRA', 'LOB_MMS', 'Offered_Band_E',
       'Offered_Band_E0', 'Offered_Band_E1', 'Offered_Band_E2',
       'Offered_Band_E3'],
      dtype='object')

In [ ]:
df1['Status']

In [127]:
df1['Status']= np.where(df['Status']=='Joined',1,0)

In [ ]:
df1['Status']

In [133]:
final=spark.createDataFrame(df1)

In [138]:
final.printSchema()

root
 |-- Sno: long (nullable = true)
 |-- Candidate_Ref: long (nullable = true)
 |-- Duration_to_accept_offer: long (nullable = true)
 |-- Notice_Period: long (nullable = true)
 |-- Percent_hike_expected_in_CTC: double (nullable = true)
 |-- Percent_hike_offered_in_CTC: double (nullable = true)
 |-- Percent_difference_CTC: double (nullable = true)
 |-- Rex_in_Yrs: long (nullable = true)
 |-- Location_ID: string (nullable = true)
 |-- Postal_Code: long (nullable = true)
 |-- Age: long (nullable = true)
 |-- LOB_Id: long (nullable = true)
 |-- Domicile_ID: string (nullable = true)
 |-- Domicile_Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Region_ID: string (nullable = true)
 |-- Status: long (nullable = true)
 |-- Date_of_Interview: string (nullable = true)
 |-- DOJ_Extended_No: long (nullable = true)
 |-- DOJ_Extended_Yes: long (nullable = true)
 |-- Joining_Bonus_No: long (nullable = true)
 |-- Joining_Bonus_Yes: long (nullable = true)
 |-- Candidate_relocate_actual_No: long (nullable = true)
 |-- Candidate_relocate_actual_Yes: long (nullable = true)
 |-- Gender_Female: long (nullable = true)
 |-- Gender_Male: long (nullable = true)
 |-- Candidate_Source_Agency: long (nullable = true)
 |-- Candidate_Source_Direct: long (nullable = true)
 |-- Candidate_Source_Employee Referral: long (nullable = true)
 |-- LOB_AXON: long (nullable = true)
 |-- LOB_BFSI: long (nullable = true)
 |-- LOB_CSMP: long (nullable = true)
 |-- LOB_EAS: long (nullable = true)
 |-- LOB_ERS: long (nullable = true)
 |-- LOB_ETS: long (nullable = true)
 |-- LOB_Healthcare: long (nullable = true)
 |-- LOB_INFRA: long (nullable = true)
 |-- LOB_MMS: long (nullable = true)
 |-- Offered_Band_E: long (nullable = true)
 |-- Offered_Band_E0: long (nullable = true)
 |-- Offered_Band_E1: long (nullable = true)
 |-- Offered_Band_E2: long (nullable = true)
 |-- Offered_Band_E3: long (nullable = true)

In [178]:
final.show(1)

+---+-------------+------------------------+-------------+----------------------------+---------------------------+----------------------+----------+-----------+-----------+---+------+-----------+-------------+--------+---------+------+-----------------+---------------+----------------+----------------+-----------------+----------------------------+-----------------------------+-------------+-----------+-----------------------+-----------------------+----------------------------------+--------+--------+--------+-------+-------+-------+--------------+---------+-------+--------------+---------------+---------------+---------------+---------------+
|Sno|Candidate_Ref|Duration_to_accept_offer|Notice_Period|Percent_hike_expected_in_CTC|Percent_hike_offered_in_CTC|Percent_difference_CTC|Rex_in_Yrs|Location_ID|Postal_Code|Age|LOB_Id|Domicile_ID|Domicile_Name|Location|Region_ID|Status|Date_of_Interview|DOJ_Extended_No|DOJ_Extended_Yes|Joining_Bonus_No|Joining_Bonus_Yes|Candidate_relocate_actual_No|Candidate_relocate_actual_Yes|Gender_Female|Gender_Male|Candidate_Source_Agency|Candidate_Source_Direct|Candidate_Source_Employee Referral|LOB_AXON|LOB_BFSI|LOB_CSMP|LOB_EAS|LOB_ERS|LOB_ETS|LOB_Healthcare|LOB_INFRA|LOB_MMS|Offered_Band_E|Offered_Band_E0|Offered_Band_E1|Offered_Band_E2|Offered_Band_E3|
+---+-------------+------------------------+-------------+----------------------------+---------------------------+----------------------+----------+-----------+-----------+---+------+-----------+-------------+--------+---------+------+-----------------+---------------+----------------+----------------+-----------------+----------------------------+-----------------------------+-------------+-----------+-----------------------+-----------------------+----------------------------------+--------+--------+--------+-------+-------+-------+--------------+---------+-------+--------------+---------------+---------------+---------------+---------------+
|  1|      2110407|                      14|           30|                      -20.79|                      13.16|                 42.86|         7|       L001|     201301| 34|     1|         D6|          Goa|   Noida|       R1|     1|         1/8/2013|              0|               1|               1|                0|                           1|                            0|            1|          0|                      1|                      0|                                 0|       0|       0|       0|      0|      1|      0|             0|        0|      0|             0|              0|              0|              1|              0|
+---+-------------+------------------------+-------------+----------------------------+---------------------------+----------------------+----------+-----------+-----------+---+------+-----------+-------------+--------+---------+------+-----------------+---------------+----------------+----------------+-----------------+----------------------------+-----------------------------+-------------+-----------+-----------------------+-----------------------+----------------------------------+--------+--------+--------+-------+-------+-------+--------------+---------+-------+--------------+---------------+---------------+---------------+---------------+
only showing top 1 row

In [255]:
df_assembler = VectorAssembler(inputCols=['Duration_to_accept_offer', 'Notice_Period',
       'Percent_hike_expected_in_CTC', 'Percent_hike_offered_in_CTC',
       'Rex_in_Yrs',
       'Age', 'LOB_Id', 'DOJ_Extended_No',
       'DOJ_Extended_Yes', 'Joining_Bonus_No', 
       'Candidate_relocate_actual_No', 'Candidate_relocate_actual_Yes',
        'Gender_Male', 
       'Candidate_Source_Direct', 'Candidate_Source_Employee Referral',
        'LOB_BFSI', 'LOB_CSMP', 'LOB_EAS', 'LOB_ERS', 'LOB_ETS',
       'LOB_Healthcare', 'LOB_INFRA', 'LOB_MMS', 'Offered_Band_E',
        'Offered_Band_E1', 'Offered_Band_E2',
       'Offered_Band_E3'], outputCol="features")

In [256]:
"""df_assembler = VectorAssembler(inputCols=['Duration_to_accept_offer', 'Notice_Period',
       'Rex_in_Yrs',
       'Age', 'LOB_Id', 'DOJ_Extended_No',
       'DOJ_Extended_Yes', 'Joining_Bonus_No', 
       'Candidate_relocate_actual_No', 'Candidate_relocate_actual_Yes',
        'Gender_Male'], outputCol="features")"""

'df_assembler = VectorAssembler(inputCols=[\'Duration_to_accept_offer\', \'Notice_Period\',\n       \'Rex_in_Yrs\',\n       \'Age\', \'LOB_Id\', \'DOJ_Extended_No\',\n       \'DOJ_Extended_Yes\', \'Joining_Bonus_No\', \n       \'Candidate_relocate_actual_No\', \'Candidate_relocate_actual_Yes\',\n        \'Gender_Male\'], outputCol="features")'

In [257]:
from pyspark.ml.feature import StandardScaler

In [258]:
ss=StandardScaler(inputCol="")

In [259]:
output = df_assembler.transform(final)

In [260]:
import numpy as np

In [261]:
df2 = output.select('features','Status')

In [262]:
df2.show(40)

+--------------------+------+
|            features|Status|
+--------------------+------+
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,2,3,4,5,6,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     0|
|(27,[0,2,3,4,5,6,...|     1|
|(27,[0,1,2,3,4,5,...|     0|
|(27,[0,1,2,3,4,5,...|     0|
|(27,[0,1,2,3,4,5,...|     0|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     0|
|(27,[0,2,3,4,5,6,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,2,3,4,5,6,...|     1|
|(27,[1,2,3,4,5,6,...|     1|
|(27,[0,2,3,4,5,6,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,2,3,4,5,6,...|     1|
|(27,[0,1,2,4,5,6,...|     0|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[2,3,4,5,6,8,...|     0|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[1,2,3,4,5,6,...|     1|
|(27,[0,1,2,3,4,5,...|     0|
|(27,[0,1,2,3,4,5,...|     0|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
|(27,[2,3,4,5,6,7,...|     1|
|(27,[0,2,3,4,5,6,...|     1|
|(27,[2,3,4,5,6,7,...|     1|
|(27,[0,1,2,3,4,5,...|     1|
+--------------------+------+
only showing top 40 rows

In [263]:
train,test = df2.randomSplit([0.8,0.2])

In [264]:
from pyspark.ml.classification import LogisticRegression

In [265]:
log_model = LogisticRegression(labelCol='Status')

In [266]:
fitted_model = log_model.fit(train)

In [267]:
train_summary = fitted_model.summary

In [268]:
test_results = fitted_model.evaluate(test)

In [269]:
test_results.predictions.show(25)

+--------------------+------+--------------------+--------------------+----------+
|            features|Status|       rawPrediction|         probability|prediction|
+--------------------+------+--------------------+--------------------+----------+
|(27,[0,1,2,3,4,5,...|     1|[-1.4168624114454...|[0.19515392976730...|       1.0|
|(27,[0,1,2,3,4,5,...|     0|[-1.7229676940720...|[0.15148930072230...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.7874332670318...|[0.14338770082445...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.4576876350190...|[0.18882125021006...|       1.0|
|(27,[0,1,2,3,4,5,...|     0|[-1.3376511892617...|[0.20789658499355...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.3674784335910...|[0.20302754892492...|       1.0|
|(27,[0,1,2,3,4,5,...|     0|[-0.0984904270865...|[0.47539727796082...|       1.0|
|(27,[0,1,2,3,4,5,...|     0|[-1.5071986316696...|[0.18135432692386...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.4262677306556...|[0.19368088122057...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.3391573387851...|[0.20764866804299...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.4218704306319...|[0.19436852653235...|       1.0|
|(27,[0,1,2,3,4,5,...|     0|[-1.3516881192718...|[0.20559452199160...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.4108767771266...|[0.19609580242692...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.2827787134712...|[0.21707759631257...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.7226572640127...|[0.15152920781007...|       1.0|
|(27,[0,1,2,3,4,5,...|     0|[-0.7206127740337...|[0.32725806018719...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.7235449671319...|[0.15141511280195...|       1.0|
|(27,[0,1,2,3,4,5,...|     0|[-0.6609921052555...|[0.34051678409047...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.4675688426017...|[0.18731241918796...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-0.3134833282969...|[0.42226472645029...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.4136196441841...|[0.19566377112220...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.3471792079605...|[0.20633191940811...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.4637072857580...|[0.18790096029027...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.3888266805940...|[0.19959513667347...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|[-1.6989958146806...|[0.15459646296939...|       1.0|
+--------------------+------+--------------------+--------------------+----------+
only showing top 25 rows

In [270]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [271]:
cm = BinaryClassificationEvaluator(rawPredictionCol='prediction',labelCol='Status')

In [272]:
acc =cm.evaluate(test_results.predictions)

In [273]:
acc

0.5396982555398396

In [276]:
from pyspark.ml.classification import DecisionTreeClassifier

In [284]:
tree = DecisionTreeClassifier(rawPredictionCol='prediction_tree', labelCol='Status')

In [285]:
tree = tree.fit(train)

In [286]:
pred_tree=tree.transform(test)

In [287]:
pred_tree.show(5)

+--------------------+------+---------------+--------------------+----------+
|            features|Status|prediction_tree|         probability|prediction|
+--------------------+------+---------------+--------------------+----------+
|(27,[0,1,2,3,4,5,...|     1|   [70.0,578.0]|[0.10802469135802...|       1.0|
|(27,[0,1,2,3,4,5,...|     0|   [70.0,578.0]|[0.10802469135802...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|   [70.0,578.0]|[0.10802469135802...|       1.0|
|(27,[0,1,2,3,4,5,...|     1|   [70.0,578.0]|[0.10802469135802...|       1.0|
|(27,[0,1,2,3,4,5,...|     0| [457.0,2101.0]|[0.17865519937451...|       1.0|
+--------------------+------+---------------+--------------------+----------+
only showing top 5 rows

In [291]:

acc_tree =tree.evaluate(prediction_tree)

AttributeError: 'DecisionTreeClassificationModel' object has no attribute 'evaluate'

In [274]:
categoricalColumns = ['DOJ_Extended','Joining_Bonus','Candidate_relocate_actual','Gender','Candidate_Source','LOB']

In [275]:
numericalColumns = ['Duration_to_accept_offer','Notice_Period','Percent_hike_expected_in_CTC','Percent_hike_offered_in_CTC','Percent_difference_CTC','Rex_in_Yrs','Age']